{% extends 'master.html' %}
{% load static %}


{% block page_title %}
Каталог сайта "Товары почтой"
{% endblock %}

{% block page_styles %}
<link rel="stylesheet" href="{% static 'main/css/style.css' %}">
{% endblock %}


{% block page_content %}

	<ul class="pagination">
		{% if products.has_previous %}
		<li class="pagination__link_prev">
			<a href="?page={{ products.previous_page_number }}">
				Prev
			</a>
		</li>
		{% endif %}

		{% for num in products.paginator.page_range %}
		<li class="pagination__link_page">
			<a href="?page={{ num }}">
				{{ num }}
			</a>
		</li>
		{% endfor %}

		{% if products.has_next %}
		<li class="pagination__link_next">
			<a href="?page={{ products.next_page_number }}">
				Next
			</a>
		</li>
		{% endif %}
	</ul>

	{% for itm in products %}

	<div class="catalog">

		{% include 'products/components/item.html' with image=itm.image count=itm.id name=itm.h1 %}
	</div>

	{% endfor %}

{% endblock %}