{% extends 'master.html' %}
{% load static %}


{% block page_title %}
Корзина
{% endblock %}

{% block page_styles %}
<link rel="stylesheet" href="{% static 'main/css/style.css' %}">
{% endblock %}


{% block page_content %}

{% csrf_token %}
<h1>
    Страница корзины
</h1>
<ul class="product-list"></ul>
<div class="control-panel">
    <button id="cart-submit-button">Submit</button>
</div>
{% block page_js %}
<script src="{% static 'products/js/counter.js' %}"></script>
<script src="{% static 'cart/js/items.js' %}"></script>

<script>
    const productsList = document.querySelector('.product-list');
    const items = getLocalValue(products);
    const identityLlist = Object.keys(items);
    const productsUrl = `{% url 'rest_products:catalog' %}?id_in=${identityList.join(',')}`;

    fetch(productsUrl)
        .then(response => response.json())
        .then(data => {
            data.map(
                itm => productsList.innerHTML += renderItem(itm, items[itm.id])
            )
        })

</script>
<script>
    const createPurchaseUrl = '{% url "cart_api:create" %}'
    const submitBtn = document.querySelector('#cart-submit-button')
    const tokenInput = document.querySelector('[name=csrfmiddlewaretoken]')

    submitBtn.addEventListener(
        'click', evt => {
            fetch(
                createPurchaseUrl,
                {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': tokenInput.value,
                    },
                    body: localStorage.getItem('products')
                },
            )
                .then(request => request.json())
                .then(data => location.replace(data.success_url))
        }
    )

</script>

{% endblock %}
{% endblock %}