{% extends 'master.html' %}
{% load static %}


{% block page_title %}
Detail
{% endblock %}

{% block page_styles %}
<link rel="stylesheet" href="{% static 'main/css/style.css' %}">
{% endblock %}


{% block page_content %}
<h1 class="cart-title">
        {{ object }}
</h1>
<ul class="product-list">
    {% for itm in object.items.all %}
    <li class="product-item">
        <span class="product-item__title">{{ itm.product.title }}</span>
        <span class="product-item__count">{{ itm.value }}</span>
    </li>
    {% endfor %}
</ul>
<ul class="total-list">
    <li class="total-item total-item-count">
        <span>Total count</span>
        <span>{{ object.count }}</span>
    </li>
    <li class="total-item total-item-cost">
        <span>Total cost</span>
        <span>{{ object.cost }}</span>
    </li>
</ul>

{% endblock %}