<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Воздухоувлажнитель Tefal HD5115F0 - магазин Товары почтой</title>
	<link rel="stylesheet" href="static/main/css/style.css">
</head>
	<body>
		<div class="container">
			<header>
				<img class = "logo" src="static/main/img/logo.png" alt="Логотип магазина">
				<div class="navy">
					<a href="">Главная</a>
					<a href="/catalog/">Каталог</a>
					<a href="/contact">Контакты</a>
				</div>
				<hr>
			</header>
		
			<h1>Воздухоувлажнитель Tefal HD5115F0</h1>

			<div class="prod">
				<a href="static/main/img/prod_2.jpg" target = "_blank">
					<img class="prod" src="static/main/img/prod_2.jpg" alt="Воздухоувлажнитель Tefal Tefal HD5115F0">
				</a>
			</div>
			<div class="photo">
				<h3>Описание товара</h3>

				<p class="short">Воздухоувлажнитель Воздухоувлажнитель Tefal HD5115F0 даёт возможность обеспечить в доме комфортный микроклимат. Эта модель работает по ультразвуковому принципу, обходясь без нагрева воды, а скорость подачи пара можно изменять в соответствии с вашими предпочтениями. Она элегантно выглядит и хорошо вписывается в современный интерьер.</p>
				<div class="button">
					<a href="">Купить</a>
				</div>
			</div>	
			<br class="clear">

			<h3>Характеристики товара</h3>

			<table>
				<thead>
					<tr>
						<td>Модификация изделия</td>
						<td>Площадь, кв. м.</td>
						<td>Потребление электроэнергии, кВт/ч</td>
						<td>Стоимость изделия, USD</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>A</td>
						<td>100</td>
						<td rowspan="3">1</td>
						<td>100</td>
					</tr>
					<tr>
						<td>B</td>
						<td>200</td>
						<td>200</td>
					</tr>
					<tr>
						<td>C</td>
						<td>300</td>
						<td>300</td>
					</tr>
				</tbody>
			</table>

			<ul class="charact">
				
				<li>Тип воздухоувлажнителя - ультразвуковой</li>
				<li>Рек. площадь помещения (в 2.6 м) - до 53 кв. м</li>
				<li>Резервуар для воды - 5.9 л</li>
				<li>Съемный резервуар д/воды - Да</li>
				<li>Тип управления - электронный</li>
				<li>Кол-во режимов работы - 3</li>
				<li>Ультразвук. распыление воды - Да</li>
				<li>Режим "теплый пар" - Да</li>
				<li>Режим автомат. поддерж влажности - Да</li>
				<li>Дезинфекция воды - Да</li>
				<li>Встроенный гигрометр - Да</li>
				<li>Регул. влажности воздуха - Да</li>
			</ul>


			<h3>Подробное описание товара</h3>
			<div class="long">
				<h5>В АВТОМАТИЧЕСКОМ РЕЖИМЕ</h5>
				<p>Функция Auto Control предназначена для регулировки увлажнения в соответствии с температурой в комнате.</p>

				<h5>ЗАБОТА О ЗДОРОВЬЕ</h5>
				<p>Вода, налитая в резервуар, перед распылением тщательно очищается от бактерий.</p>

				<h5>УДОБНАЯ ПЕРЕНОСКА</h5>
				<p>Устройство оборудовано ручкой, с помощью которой его можно легко переместить туда, где в нём возникнет необходимость.</p>

				<h5>ДИСТАНЦИОННОЕ УПРАВЛЕНИЕ</h5>
				<p>Пользоваться всеми функциями и менять настройки можно с помощью пульта ДУ, который входит в комплект.</p>
			</div>
			<footer>
				<hr />
				<div class="copy">{{ footer }}</div>
			</footer>
		</div>
	</body>
</html>